//-File name: nav.pug
//-Author: Mou Chen
//-web site name: iToDo
//-file description: This is the navbar for all web pages

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='/') iToDo
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/incidents')
          | Dashboard 
          span.sr-only (current)  
    ul.navbar-nav.mr-sm-0
      if isAuthenticated
        li.nav-item
          a.nav-link(href=`/users/${user._id}/edit`)= user.username
        li.nav-item
          a.nav-link(href='/logout') Logout
      else
        li.nav-item
          a.nav-link(href='/register') Register
        li.nav-item
          a.nav-link(href='/login') Login
    //- form.form-inline.my-2.my-lg-0.mr-auto
    //-   input.form-control.mr-sm-2(type='text', placeholder='Search')
    //-   button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search