extends ../layout

block content
  h1 Create a new Incident

  form(method="POST")
    input(name="description" placeholder="description of project")
   
    
    

    button(type="submit") Create Incident