//-File name: create.pug
//-Author: Mou Chen
//-web site name: iToDo
//-file description: This is the create.pug page. this is use to create a new incident.

extends ../layout

block content
  h1 Create a new Incident

  form(method="POST")
    input(name="description" placeholder="description of project")
   
    
    

    button(type="submit") Create Incident