extends ../layout

block content
  .container
    h1 All Incidents

    if isAuthenticated
      a(href="/incidents/new") Create Incident

    ul
      each incident in incidents
        li
          a(href=`/incidents/${incident._id}`)= incident.description