//-File name: error.pug
//-Author: Mou Chen
//-web site name: iToDo
//-file description: This is the error.pug page.

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
