//-File name: index.pug
//-Author: Mou Chen
//-web site name: iToDo
//-file description: This is the index.pug page. this is the home page of iToDo application.

extends layout

block content
    .container
      .jumbotron
        .text-center
            h1 Welcome to My Incident Management System
            img.text-center(src='../images/logo-incident.png', alt='Incident Managerment', height='180', width='180')
            .MC-paddingB-5
              if isAuthenticated
                a.btn.btn-info(href='/incidents') See Dashboard
              else
                a.btn.btn-info(href='/register') Join Us Today!
            p Developed By Mona | GC2019
