//-File name: layout2.pug
//-Author: Mou Chen
//-web site name: iToDo
//-file description: This is the layout2.pug page. use as the layout.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='../../stylesheets/style.css')
        link(rel='stylesheet', href='../../stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')
        //--link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
            a.navbar-brand(href='/')
                img.text-center(src='../../images/logo-incident.png', alt='Incident Managerment', height='60', width='60')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarColor01.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/incidents')
                            | Dashboard
                            span.sr-only (current)
                ul.navbar-nav.mr-sm-0
                    if isAuthenticated
                        li.nav-item
                            a.nav-link(href=`/users/${user._id}/edit`)= user.username
                        li.nav-item
                            a.nav-link(href='/logout') Logout
                    else
                        li.nav-item
                            a.nav-link(href='/register') Register
                        li.nav-item
                            a.nav-link(href='/login') Login
        block content

        block scripts
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        script(src='../../javascripts/app.js')