//-File name: register.pug
//-Author: Mou Chen
//-web site name: iToDo
//-file description: This is the register.pug page. use to let user register the application.

extends layout

block content
    .container
        .text-center
            img.text-center(src='../images/logo-incident.png', alt='Smiley face', height='160', width='160')
        //h1.MC-paddingT-5.MC-paddingB-5(style='text-align:center') #{buttonText} Form
        .card.border-primary.mb-3.MC-login
            .card-header #{buttonText} Form
            .card-body
                form(method="POST")
                    .form-group
                        label Username
                        input.form-control(name="username" type="text" placeholder='User Name' required)
                    .form-group
                        label Password
                        input.form-control(name="password" type="password" placeholder='Password' required)
                    .form-group
                        label Email
                        input.form-control(name="email" type="email" placeholder='Email' required)
                    .form-group
                        label(for='exampleSelect1') User Type
                        select(name='usertype')#exampleSelect1.form-control
                            option(value='user')    User
                            option(value='admin')   Admin


                    button.btn.btn-primary(type="submit")= buttonText