extends ../layout2

block content
  .container
    .text-center.MC-paddingT-2
      img.text-center(src='../../images/logo-incident.png', alt='Incident Managerment', height='180', width='180')
    .MC-back.MC-detail
      h1.MC-paddingB-5.text-center Profile
      form(method='post')
        .form-group
          label(for='exampleInputEmail1') User Name
          input#exampleInputEmail1.form-control(value=user.username, disabled)
        .form-group
          label(for='address') User Type
          input#address.form-control( value=user.usertype disabled)
        .form-group
          label(for='email') Email Address
          input#email.form-control(type='email',name='email' value=user.email placeholder='Email')
        button.btn.btn-info Change